:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color:cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.name-block {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.name-block img {
  width: 8rem;
}

.name-block nav {
  flex-wrap: wrap;
}

nav a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}

nav a:last-child {
  margin-right: 0;
}

main {
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.notif {
  background-color: rgb(207, 236, 237);
  padding: 1rem 30rem;
  font-size: 1.5rem;
  text-align: center;
  align-self: center;
}

.about p {
  font-size: 1.5rem;
}

#grid-block {
  margin: 0;
  padding: 0;
}

.row p{
  font-size: 1.5rem;
}

.list-group {
  font-size: 1.5rem;
}

.page-item a{
  font-size: 1.5rem;
}

#opted-course {
  display: none;
  font-size: 1.5rem;
}

#opted-course button, #searched-tutor button{
  margin-top: 1rem;
}

#p {
  font-size: 1.5rem;
}

.course-search {
  display: flex;
  column-gap: 2rem;
}

.course-search input {
  width: 65%;
  height: 4rem;
  font-size: 1.4rem;
  padding: 1rem;
  border: 2px solid rgb(191, 228, 223);
}

.course-search p {
  font-size: 2rem;
  margin: 0;
}

.course-search select {
  width: 25%;
  font-size: 1.5rem;
  border: 2px solid rgb(191, 228, 223);
}

.search-but {
  width: 10rem;
  height: 3rem;
  border: 2px solid rgb(105, 236, 223);
  font-size: 1.5rem;
  background-color: rgb(192, 227, 234);
  border-radius: 0.5rem;
}

#searched-course, #searched-tutor {
  display: none;
}

.search-but:hover {
  background-color: rgb(168, 218, 243);
}

.make-order {
  width: 20rem;
  height: 3rem;
  border: 2px solid rgb(154, 194, 239);
  font-size: 1.5rem;
  background-color: rgb(197, 220, 246);
  border-radius: 0.5rem;
}

#make-order:hover {
  background-color: rgb(113, 208, 255);
}

.tutor-search {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.tutor-search input {
  width: 30%;
  height: 4rem;
  font-size: 1.4rem;
  padding: 1rem;
  border: 2px solid rgb(191, 228, 223);
}

.tutor-search select {
  width: 40%;
  font-size: 1.5rem;
  border: 2px solid rgb(191, 228, 223);
}

.tutor-search button {
  height: 4rem;
}

footer {
  background-color: rgb(218, 253, 254);
  height: 7rem;
  padding: 2rem;
  font-size: 1.5rem;
  margin-top: auto;
}



.modal-back {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 20;
}

.modal-active {
  position: fixed;
  z-index: 30;
  width: 70rem;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  cursor: default;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  font-size: 1.5rem;
}

.modal-close {
  display: flex;
  justify-content: space-between;
}

.modal-close img {
  margin: 3px;
  width: 24px;
  height: 24px;
}

.course-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-block p{
  margin: 0;
}

.info-block select, .info-block input {
  width: 60%;
  border: 2px solid grey;
}

.options {
  display: flex;
  align-items: center;
}

.options p {
  margin: 0 0 0 0.5rem;
  font-size: 1.4rem;
}

.order-but button {
  border: none;
  padding: 0.2rem 1.5rem;
  margin-right: 1rem  ;
}

.yes {
  background-color: red;
  color: white;
}

.cancel {
  background-color: lightgrey;
}

.save {
  color: white;
  background-color:rgb(51, 174, 133);
}



@media screen and (max-width: 768px) {
  nav a {
    font-size: 1.9rem;
  }
  .name-block img {
    width: 5rem;
  }
  main {
    padding: 2rem 5rem;
  }
  .notif {
    padding: 1rem 20rem;
  }
  .h {
    font-size: 4rem;
  }
  .notif {
    font-size: 4rem;
  }
  .about h1 {
    font-size: 4rem;
  }
  .about p{
    font-size: 3rem;
  }
  .col-4 p{
    font-size: 2rem;
  }
  .col-4 h2 {
    font-size: 2.3rem;
  }
  .list-group {
    font-size: 2.3rem;
  }
  .list-group-item {
    font-size: 2.5rem;
  }
  .page-item a {
    font-size: 2.5rem;
  }
  #p {
    font-size: 2.5rem;
  }
  .course-search {
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .course-search input, .course-search select {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
  }
  .course-search p {
    font-size: 2.5rem;
  }
  .make-order {
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
  }
  .search-but {
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
  }
  .tutor-search{
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .tutor-search select {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
  }
  footer {
    font-size: 3rem;
  }
}



@media screen and (max-width: 480px){
  header {
    flex-direction: column;
  }
  .name-block h2{
    font-size: 3rem;
  }
  .name-block img {
    width: 9rem;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
  nav a {
    font-size: 3rem;
  }
  main {
    row-gap: 2rem;
  }
  .notif {
    font-size: 2rem;
  }
  .about h1 {
    font-size: 3rem;
  }
  .about p{
    font-size: 2.5rem;
  }
  .h {
    font-size: 3rem;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .coool {
    width: 30rem;
  }
  .col-4 p{
    font-size: 2.5rem;
  }
  .col-4 h2 {
    font-size: 2.8rem;
  }
  .list-group {
    font-size: 2rem;
  }
  .list-group-item {
    font-size: 2.5rem;
  }
  .page-item a {
    font-size: 2.5rem;
  }
  #p {
    font-size: 2.5rem;
  }
  .course-search {
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .course-search input, .course-search select {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
  }
  .course-search p {
    font-size: 2.5rem;
  }
  .make-order {
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
  }
  .search-but {
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
  }
  .tutor-search{
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .tutor-search select {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
  }
  footer {
    font-size: 2rem;
  }
}
